<h1>Stupid coaching</h1>
<div class="question">
  <p><%= @question %></p>
  <p>-You</p>
</div>
<br>
<div class="answer">
  <p><%=@answer%></p>
  <p>-The coach</p>
</div>
<br>
<a href="/ask">Ask another question</a>
